* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #000;
    font-size: 15px;
    line-height: 1.5;
}

a {
    color: #262626;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    max-width: 1700px;
    margin: auto;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px 0;
    font-size: 13px;
}

.left {
    flex: 1;
    margin-left: 20px;
}

nav img {
    width: 100px;
}

.menu{
    display: flex;
}

.menu li {
    margin: 0 10px;
}

li i{
    margin-left: 5px;
}

.menu li:hover {
    border-bottom: 2px solid #262626;
}

.hero {
    margin: 0 auto;
    position: relative;
}

.second img {
    margin: 0 auto;
}

.captionHero {
    position: absolute;
    top: 40%;
    left: 5%;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    color: white;
}

.captionHero h2{
    font-size: 2.5em;
}

.captionHero p{
    padding: 20px 0;
}

.captionHero button{
    width: 190px;
    height: 40px;
    font-size: 1em;
    font-weight: bold;
    background-color: #0067B8;
    border: none;
    color: white;
}

.captionHero button:hover{
    background-color: #005CA5;
}

.second h2{
    color: black;
}

.second p {
    color: #000;
}

.inner{
    width: 90%;
    margin: 5em auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.item {
    max-width: 380px;
}

.item img {
    max-width: 380px;
}

.item p{
    padding: 20px 0;
}

.item h2{
    font-weight: 600;
}

.item button{
    text-decoration: none;
    background: none;
    border: none;
    color:#005CA5;
    font-weight: bold;
    font-size: 0.8rem;
}